<div class="mt-4 rounded-md border border-gray-600 shadow-sm w-1/2">
  <h2 class="text-center text-medium font-semibold leading-relaxed tracking-tight">Quantidade de CEPS por estado</h2>
  <ul class="text-center text-sm font-medium">
    <% ZipCode::UFS.each do |state| %>
      <li class="flex justify-between items-center py-2 px-20">
        <span class="w-12"><%= state %></span>
        <span><%= @amount_zip_codes_by_state[state] || 0 %></span>
      </li>
    <% end %>
  </ul>
</div>
